body {
  font: 20px "Hiragino Sans GB", sans-serif;
  background: #eee;
}

ul li {
  list-style: none;
}

#main{
  display: flex;
}

.btn{
  width: 80%;
  height: 50px;
  background-color: rgb(243, 194, 32);
  border-radius: 40px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'STKaiti';
}

.btn :hover{
  background-color: #f06;
  box-shadow: 3px;
}


#buttons{
  padding: 20px;
  width: 250px;
  background: #ddd;
  margin: 40px;
  display: block;
  justify-content: center;
  align-items: center;

}

#container {
  width: 900px;
  margin: 10px auto;
  position: relative;
}

#balls {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 700px;
}

#balls li,
#lucky-balls li {
  position: absolute;
  left: 420px;
  top: 470px;
  padding: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  font-size: 9px;
  background: #333;
  color: #ddd;
  opacity: .5;
  text-align: center;
  line-height: 50px;
  border-radius: 30px;
  word-break: keep-all;
  cursor: pointer;
}

#go {
  width: 300px;
  height: 70px;
  display: block;
  margin: 0 auto;
  font-size: 30px;
  border: none;
  background: none;
  color: #f60;
}

nav {
  position: fixed;
  top: 16px;
}
nav a {
  color: #999;
}

#balls li.selected {
  color: #fff;
  background: #f60;
  font-size: 60px;
  height: 300px;
  width: 300px;
  line-height: 300px;
  border-radius: 200px;
  -webkit-transition: 0.3s ease-in;
  -webkit-transition-property: width, height, font;
  z-index: 100;
}

#lucky-balls {
  padding: 10px;
  margin: auto;
  list-style: none;
}

#lucky-balls li {
  position: relative;
  left: auto !important;
  top: auto !important;
  width: 80px !important;
  height: 80px !important;
  float: left;
  margin:10px;
  line-height: 80px;
  border-radius: 45px;
  font-size:30px;
  font-weight: bold;
  color: #fff;
  background: #f60;
}

#lucky-container{
  width:200px;
  background:#ddd;
  padding:20px;
  margin:40px
}
